html, body, ul, li, div,dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form,  img { margin:0; padding:0; box-sizing: border-box;}
img { border:none; display: block;}
*{
	margin: 0;
	padding: 0;
}
ul li{
	list-style: none;
}
a{
	text-decoration: none;
}
/*内容*/
#comment{
	width: 100%;
	height: 870px;
	background:#e8ecef;
}
#comment_box{
	height: 870px;
	width: 1200px;
	background: white;
	margin: auto;
}
#comment_left{
	height: 870px;
	width: 200px;
	float: left;
}
#list {
    height: 400px;
    width: 200px;
}
#list .active{
	background:#0e5fb0 ;
	margin-bottom: 30px;
}
#list li {
    width: 200px;
    height: 45px;
    line-height: 45px;
    text-align: center;
}
#list li a {
	display: block;
	color: black;
    font-size: 24px;
    text-align: center;
}
#comment_right{
	height: 600px;
	width: 950px;
	float: right;
}
#comment_middle{
	margin-top: 20px;
	height: 20px;
	width: 950px;
	line-height: 20px;
}
#comment_middle p{
	color: #336699;
}
#comment_bottom{
	height: 500px;
	width: 950px;
	margin-top: 20px;
}
#comment_bottom h4{
	color: #336699;
	font-size: 32px;
	height: 40px;
	line-height: 40px;
	border-bottom: 2px solid #F1F1F1;
}
#box{
	height: 580px;
	width: 950px;
}
#comment_box dl{
	height: 370px;
	width: 380px;
	float: left;
	overflow: hidden;
	background: white;
	/*margin-left: 18px;*/
	position: relative;
	margin-bottom: 30px;
}
#comment_box #box dl:nth-child(2){
	margin-left: 40px;
}
#comment_box #box dl:nth-child(4){
	margin-left: 40px;
}
#comment_box #box dl dt{
	height: 300px;
	width: 300px;
	margin-left: 40px;
}
#comment_box #box dl dt img{
	height: 300px;
	width: 300px;
}
#comment_box #box dl dd{
	height: 80px;
	width: 350px;
	margin-top: 40px;
	text-align: center;
	border: 1px solid #fff;
	font-size: 22px;
	color: #b59a65;
}
.box_1{
	height: 370px;
	width: 350px;
	float: left;
	overflow: hidden;
	background: white;
	position: absolute;
	top: 0px;
  	background-color: rgba(175, 203, 189, 0.94);
 	display: none;
}

.box_1 p{
	font-size: 20px;
	line-height: 24px;
	color: #fff;
	text-align: center;
	margin-top: 150px;
}